node_modules
.next
*.tsbuildinfo
static/
!public/static/
public/static/*
!public/static/image/
public/static/image/*
!public/static/image/WfJlogo.png
templates/
out
dist
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.agents
.codex
